.App {
  text-align: center;
}

h1{
  background-color: goldenrod;
  margin: 0;
  padding: 10px;
  color: white
}
 li{
  margin: 15px auto;
 }

 h3{
  font-size: 40px;
 }

 button{
  background: black;
  color: white;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: bold;
  outline: navajowhite;
  border: none;
  cursor: pointer;
  border-radius: 5px;
 }

 p{
  font-size: 25px;
  font-weight: bold;
 }